*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.loader-wrapper{
    background-color: #2980b9;
    height: 100%;
    width: 100%;
    position: absolute;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
}

.obj{
    width: 6px;
    height: 40px;
    background: #ffffff;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}

.obj:nth-child(2) {
    animation-delay: .1s;
}

.obj:nth-child(3) {
    animation-delay: .2s;
}

.obj:nth-child(4) {
    animation-delay: .3s;
}

.obj:nth-child(5) {
    animation-delay: .4s;
}

.obj:nth-child(6) {
    animation-delay: .5s;
}

.obj:nth-child(7) {
    animation-delay: .6s;
}

.obj:nth-child(8) {
    animation-delay: .7s;
}

@keyframes loading {
    0% {
        height: 0px;
    }

    50% {
        height: 40px;
    }

    100% {
        height: 0px;
    }
}

#body{
    font-family: 'Courier New', Courier, monospace;
}

.menu-btn{
    right: 4%;
    float: right;
    padding: 20px 0;
    position: fixed;
    z-index: 101;
}

.menu-btn img{
    cursor: pointer;
    height: 25px;
    width: 25px;
}

#navbar{
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    display: none;
    position: fixed;
    z-index: 101;
}

#navbar .container{
    height: 100%;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#navbar .container h1 a{
    color: #ffffff;
    font-size: 30px;
}

#navbar .container .close-btn{
    position: relative;
    top: 0;
    left: 3%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f3ca20;
    cursor: pointer;
}

#navbar .container .close-btn .fa{
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

#navbar .container .nav-items{
    margin: 20px 0;
    position: relative;
}

#navbar .container .nav-items .nav-links{
    margin-bottom: 20px;
}

#navbar .container .nav-items .nav-links .fa{
    margin-right: 15px;
    color: #f3ca20;
}

#navbar .container .nav-items .nav-links a{
    font-size: 20px;
    color: #f3ca20;
    font-weight: 800;
    transition: all .5s ease;
}

#navbar .container .nav-items .nav-links a:hover{
    border-bottom: 2px solid #f3ca20;
    padding-bottom: 5px;
}

#home{
    height: 100vh;
    width: 100%;
}

#home .heading{
    position: absolute;
    padding: 20% 5%;
    z-index: 2;
}

#home .heading h3{
    font-size: 40px;
    margin-bottom: 10px;
    color: #B379AA;
}

#home .heading h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #E99885;
}

#home .heading h1{
    font-size: 50px;
    background: linear-gradient(to top, #ffe838,#fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .container {
    height: 100vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(-45deg, #85C1E9 , rgb(32, 129, 194), rgb(26, 109, 165) , rgb(15, 75, 116));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: 0;
}

#home .container img{
    position: relative;
    top: 5%;
    right: 0;
    float: right;
    height: 80%;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}

#home .background{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px){
    #home .container img{
        height: 50%;
        top: 30%;
    }
}